<footer class="site-footer">
    <div class="wrapper">
        <div class="footer">
            <div class="footer-icon">
                <a href="{{site.baseurl}}/" class="logo-text">Dartboard</a>
            </div>
            <div class="footer-social">
                
            </div>
            <div class="footer-copyright">
                <div class="copyright">
                    <p>@2021 Jason He</p>
                </div>
                <div class="template">
                    <p><a href="https://github.com/{{ site.theme }}">Template: Dartboard</a>@2021 Jason He</p>
                </div>
            </div>
        </div>
    </div>
</footer>
