<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }} | {{ page.title }}</title>
    {% if page.description %}
        <meta name="description" content='{{ page.description }}'>
    {% else %}
        <meta name="description" content='{{ site.description }}'>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Page icon -->
    <link rel="default-icon" href="{% asset_path default-icon.png %}">
    <!-- Page link -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <!-- Ionicons -->
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    
    <style>{% include main.scss %}</style>
    
    {% if site.ga %}
        {% include google-analytics.html %}
    {% endif %}
</head>
